<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/themes/{{ app.theme }}/css/style.css">
        <link rel="shortcut icon" type="image/png" href="{{ app.request.basepath }}/themes/{{ app.theme }}/img/favicon.png" />
        <!--[if lt IE 9]>
        <script src="{{ app.request.basepath }}/themes/{{ app.theme }}/js/html5.js"></script>
        <![endif]-->
    </head>

    <body>
        {% block body %}{% endblock %}
        <script src="{{ app.request.basepath }}/themes/{{ app.theme }}/js/main.js"></script>
    </body>
</html>
